<p id="notice"><%= notice %></p>

<div class="jumbotron text-center">
  <h1>Course Info</h1>
  <p><%= @datasheet.seq_number%> - <%= @datasheet.seq_title%></p>
</div>

<p>
  <strong>Seq number:</strong>
  <%= @datasheet.seq_number %>
</p>

<p>
  <strong>Seq version:</strong>
  <%= @datasheet.seq_version %>
</p>

<p>
  <strong>Category:</strong>
  <%= @datasheet.category %>
</p>

<p>
  <strong>Seq title:</strong>
  <%= @datasheet.seq_title %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @datasheet.hours %>
</p>

<p>
  <strong>Pub date:</strong>
  <%= @datasheet.pub_date %>
</p>

<p>
  <strong>Seq update:</strong>
  <%= @datasheet.seq_update %>
</p>

<p>
  <strong>Seq original list:</strong>
  <%= @datasheet.seq_original_list %>
</p>

<p>
  <strong>Active:</strong>
  <%= @datasheet.active %>
</p>

<p>
  <strong>Drop date:</strong>
  <%= @datasheet.drop_date %>
</p>

<p>
  <strong>Drop reason:</strong>
  <%= @datasheet.drop_reason %>
</p>

<p>
  <strong>Pes number:</strong>
  <%= @datasheet.pes_number %>
</p>

<p>
  <strong>Pes version:</strong>
  <%= @datasheet.pes_version %>
</p>

<p>
  <strong>Pes Not Listed:</strong>
  <%= @datasheet.pes_listed %>
</p>

<p>
  <strong>Needs approval:</strong>
  <%= @datasheet.needs_approval %>
</p>

<p>
  <strong>Has approval:</strong>
  <%= @datasheet.has_approval %>
</p>

<p>
  <strong>Approval info:</strong>
  <%= @datasheet.approval_info %>
</p>

<p>
  <strong>Course note:</strong>
  <%= @datasheet.course_note %>
</p>

<p>
  <strong>Extra note:</strong>
  <%= @datasheet.extra_note %>
</p>

<p>
  <strong>Extra boolean:</strong>
  <%= @datasheet.extra_boolean %>
</p>

<%= link_to 'Edit', edit_datasheet_path(@datasheet) %> |
<%= link_to 'Back', datasheets_path %>
