<p id="notice"><%= notice %></p>

<!-- <div class="container"> -->
<div class="jumbotron text-center">
<h1>Course Updates</h1>
</div>


<!-- could push all into an array and check if they are all the sam -->

<% @status_check = [] %>
<% @updatesheets.each do |updatesheet| %>
  <% if updatesheet.course_listed == true && updatesheet.text_complete == true && updatesheet.exam_complete == true && updatesheet.proofed == true %>
    <% @status_check.push(1) %>
  <% elsif %>
    <% @status_check.push(2) %>
  <% end %>
<% end %>

<!-- Status is pushed into an array done =1 not_done =2 ex: [1,2,1] => work needs to be done-->
<!-- <%# if @status_check.itself.uniq.length == 1 %> -->

<% if (@status_check.inject(0, :+)) == (@status_check.length) %>
<h3 class="done_text"> Courses are up to date </h2>
<%elsif %>
<h3 class="not_done_text"> Work needs to be done </h2>
<%end%>

<!-- Seach bar -->
</br>
<div class="row col-md-3">
<input class="form-control" id="myInput" type="text" placeholder="Search Datasheet">
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Status</th>
      <th>Seq</th> <!--Not able to sort - data is stored in datasheets table -->
      <th>V</th>
      <th>Title</th>
      <th><%= sortable 'pes_number', 'PES' %></th>
      <th>V</th>
      <th><%= sortable 'date_received', 'Recieved' %></th> <!--sortable column header -->
      <!-- <th>Update course</th>
      <th>New course</th> -->
      <th>Hold</th>
      <!-- <th>Note</th> -->
      <th>Text</th>
      <th>Exam</th>
      <!-- <th>Course listed</th> -->
      <th>Listed</th>
      <th>Role</th>
      <th>Rolep</th>
      <th>IRS</th>
      <th>Proofed</th>
      <th>Note</th>
      <!-- <th>Datasheet</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="myTable">
    <% @updatesheets.each do |updatesheet| %>
      <tr>
        <% if updatesheet.hold == true %>
            <td class="hold_text">On Hold</td>
        <% elsif updatesheet.course_listed == true && updatesheet.text_complete == true && updatesheet.exam_complete == true && updatesheet.proofed == true%>
            <td class="done_text">Done</td>
        <% elsif updatesheet.course_listed == true && updatesheet.text_complete == true && updatesheet.exam_complete == true %>
            <td><span class="done_text">Listed</span> - <span class="not_done_text">Not Proofed</span></td>
        <% elsif %>
            <td class="not_done_text">Inprogess</td>
        <% end %>

        <td><%= updatesheet.datasheet.seq_number %></td>
        <td><%= updatesheet.seq_version %></td>
        <td><%= updatesheet.datasheet.seq_title.truncate_words(4) %></td>
        <td><%= updatesheet.pes_number %></td>
        <td><%= updatesheet.pes_version %></td>
        <td><%= updatesheet.date_received.strftime('%m/%d/%y') %></td>
        <!-- <td><%= updatesheet.update_course %></td>
        <td><%= updatesheet.new_course %></td> -->

        <!-- <td><%= updatesheet.hold %></td> -->
        <!-- <% if updatesheet.hold == true %>
          <td class="hold_text"><strong>View</strong></td>
        <% elsif %>
          <td class="done_text"><strong>Go</strong></td>
        <% end %> -->

        <!-- <td><%= updatesheet.note_approval %></td> -->
        <% if updatesheet.note_approval.empty? || updatesheet.hold == false %>
          <td class="done_text">Go</td>
        <% elsif %>
          <td class="hold_text"><%= link_to 'VIEW', updatesheet %></td>
        <% end %>

        <!-- <td><%= updatesheet.text_complete %></td> -->
        <% if updatesheet.text_complete == true %>
          <td class="done_text">Done</td>
          <% elsif updatesheet.text_complete == false %>
          <td class="not_done_text">No</td>
        <% end %>

        <!-- <td><%= updatesheet.exam_complete %></td> -->
        <% if updatesheet.exam_complete == true %>
          <td class="done_text">Done</td>
          <% elsif updatesheet.exam_complete == false %>
          <td class="not_done_text">No</td>
        <% end %>
        <!-- <td><%= updatesheet.course_listed %></td> -->

        <% if updatesheet.course_listed == true %>
          <td><%= updatesheet.date_listed.strftime('%m/%d/%y') %></td>
          <% elsif updatesheet.course_listed == false %>
          <td></td>
        <% end %>

        <td><%= updatesheet.role %></td>
        <td><%= updatesheet.rolep %></td>
        <td><%= updatesheet.irs_number %></td>

        <!-- <td><%= updatesheet.proofed %></td> -->
        <% if updatesheet.proofed == true %>
        <td class="done_text"><strong>Yes</strong></td>
        <% elsif %>
        <td class="not_done_text"><strong>No</strong></td>
        <% end %>

        <!-- <td><%= updatesheet.proofed_note %></td> -->
        <% if updatesheet.proofed_note.empty? %>
          <td></td>
        <% elsif %>
          <td><strong><%= link_to 'View', updatesheet %></strong></td>
        <% end %>
        <!-- <td><%= updatesheet.datasheet_id %></td> -->
        <td><%= link_to 'Details', updatesheet %></td>
        <td><%= link_to 'Edit', edit_updatesheet_path(updatesheet) %></td>
        <td><%= link_to 'Remove', updatesheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p> To add course update -> <%= link_to 'Course Data Sheet -> Select Add Update', datasheets_path %> </p>
<!-- <%= link_to 'New Updatesheet', new_updatesheet_path %> -->
<!-- </div> -->
